* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
  background: #BC8DFF !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main.container {
  width: 100vw !important;
  max-width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}
.py-4 {
	margin: 0 !important;
	padding: 0 !important;
	width: 100vw !important;
	height: 100vh !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-custom {
	background-color: #1c2939;
}

.custom-login-btn {
  background-color: #BC8DFF !important;
  border-color: #BC8DFF !important;
  color: #fff !important;
}
.custom-login-btn:disabled {
  background-color: #d6c2f7 !important;
  border-color: #d6c2f7 !important;
}

.container-fluid, .row, .col-12, .col-md-6 {
  margin: 0 !important;
  padding: 0 !important;}

.title-login-1{
	color: #1c2939;
	font-weight: bolder;
}

.login-bg {
  background: #BC8DFF !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login-card {
  max-width: 400px;
  width: 100%;
  margin: 2rem 0;
}
.custom-login-btn {
  background-color: #1c2939 !important;
  border-color: #1c2939 !important;
  color: #fff !important;
}
.login-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .login-img {
    display: none !important;
  }
  .login-card {
    margin: 0 auto;
  }
}